*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
div{
  text-align: center;
  line-height: 1000px;
}
button{
  background-color: rgb(91, 91, 91);
  color: red;
  padding: 10px 15px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  border: none;
}